
@model LMS.Models.Book;
@{
    ViewData["Title"] = "Add Book";
}

<h3>Add a new book to the system</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishYear" class="control-label"></label>
                <input asp-for="PublishYear" class="form-control" />
                <span asp-validation-for="PublishYear" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="AddBook" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>