@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Utumishi Library</h1>
    <p>Create and Account or Sign In to borrow or return a book</p>
</div>
